include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md

recursive-exclude * __pycache__
recursive-exclude * .mypy_cache
recursive-exclude * *.py[co]

recursive-include images *.png
