[Desktop Entry]
Name=Next Meeting Applet
Comment=An applet to show your next meetings in panel
Exec=gnome-next-meeting-applet
Icon=gnome-next-meeting-applet
Keywords=Event;Calendar
Categories=GNOME;Office;Calendar;
Type=Application
Terminal=false

