#!/usr/bin/make -f
PKGNAME=gnome-next-meeting-applet
export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem pybuild

override_dh_auto_install:
	dh_auto_install
	mkdir -p  $(CURDIR)/debian/$(PKGNAME)/usr/share/applications/ \
			  $(CURDIR)/debian/$(PKGNAME)/usr/share/$(PKGNAME) \
			  $(CURDIR)/debian/$(PKGNAME)/usr/share/icons
	cp -av $(CURDIR)/data/images $(CURDIR)/debian/$(PKGNAME)/usr/share/$(PKGNAME)/
	install -m0644 $(CURDIR)/data/desktop/icon.svg $(CURDIR)/debian/$(PKGNAME)/usr/share/icons/$(PKGNAME).svg
	install -m0644 $(CURDIR)/data/desktop/$(PKGNAME).desktop $(CURDIR)/debian/$(PKGNAME)/usr/share/applications/
